.chat-container {
    display: flex;
    flex-direction: column;
    padding: 0;
    box-sizing: border-box;

    .title {
        font-size: 50px;
    }
}

.messages-container {
    flex: 1;
    overflow-y: auto;
    margin-bottom: 10px;
    font-size: 30px;
}

.message {
    margin-bottom: 5px;
}

/* User */
.message0 {

}
/* Admin */
.message1 {
    color: royalblue;
}
/* Guest */
.message2 {
    color: gray
}
/* GameInvitation */
.message3 {
    color: royalblue;

}


.input-container {
    position: fixed;
    bottom: 30px;
    display: flex;
    flex-direction: row;
    width: 97%;
}

.chat-input {
    flex: 1;
    padding: 10px;
    margin-right: 10px;
    box-sizing: border-box;
    font-size: 30px;
}

.input-container .button {
    padding: 10px;
    font-size: 30px;
}
