.config-container {
    display: flex;
    flex-direction: row;
}

.auth-inner-container {
    display: flex;
    flex-direction: row;
}

.auth-inner-container > *:not(:last-child) {
    margin-right: 1vh; /* Default value for large screens */
}
