.config-container {
    position: fixed;
    top: 0.9vh;
    right: 0.5vh;
    display: flex;
    flex-direction: row;
}

.auth-inner-container {
    display: flex;
    flex-direction: row;
    width: 10.7vw;
}

