body {
    margin-left: 30px;
    margin-top: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.main-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.auth-container {

}

.chat-container {
    flex: 1;
    overflow-y: auto;
}
